Input current 5 rep max weights:
<form method="POST" action="/workout">
  <p>Back squat: <input type="text" name="squat_5rm" value="155"> (bump by 5)</p>

  <p>Press type for this week: <input type="radio" name="press_type" value="bench" checked> bench
  <input type="radio" name="press_type" value="shoulder"> shoulder</p>

  <p>Bench press: <input type="text" name="bench_5rm" value="97"> (bump by 2)</p>
  <p>Shoulder press: <input type="text" name="shoulder_press_5rm" value="72"> (bump by 2)</p>
  <p>Deadlift: <input type="text" name="deadlift_5rm" value="230"> (bump by 5)</p>
  <input type="submit">
</form>
