Input current 5 rep max weights:
<form>
  <p>Back squat: <input type="text"> (bump by 5)</p>

  <p>Press type for this week: <input type="radio" name="press_type" value="bench" checked> bench
  <input type="radio" name="press_type" value="shoulder"> shoulder</p>

  <p>Bench press: <input type="text"> (bump by 2)</p>
  <p>Shoulder press: <input type="text"> (bump by 2)</p>
  <p>Deadlift: <input type="text"> (bump by 5)</p>
  <input type="submit">
</form>
