<!doctype html>
<html>
  <head>
    <title>Lifting Workout Generator</title>
    <link rel="stylesheet" href="normalize.css" type="text/css">
    <link rel="stylesheet" href="sakura.css" type="text/css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
